.signup-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-form button {
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #1a213e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #373c57;
}

.signup-form a {
    margin-top: 10px;
    text-align: center;
    color: #1a213e;
    text-decoration: none;
}

.signup-form a:hover {
    color: #2e3a70;
}
